<div class="row">
  <div class="search-results span7 offset2"></div>
  <div class="notifications-container span7 offset2">
    <h1>Notifications</h1>
    <ul class="notification-list">
      <% @notifications.each do |notification| %>
        <%= render 'notification', notif: notification %>
      <% end %>
    </ul>
  </div>
</div>
