<li>
  <a href="<%= book_post_path(book_post)%>" class="thumbnail">
    <% if book.image_url.blank? %>
      <div class="no-image">
        <%= book.title %>
      </div>
    <% else %>
      <%= image_tag book.image_url(:thumb).to_s%> 
    <% end %>
  </a>
</li>
