<ul class="thumbnails">
  <li>
    <%= link_to image_tag("http://placehold.it/100x100"),
        "#", :class => "thumbnail" %>
  </li>
</ul>
<h4> User email: </h4>
<p>
  <%= current_user.email %>
</p>
