<div class="row">
  <div class="bookshelf-container span6">
    <h1>Bookshelf</h1>
    <div class="bookshelf">
      <%= render "bookshelf"%>
    </div>
    <% unless @next_index >= @book_posts_size %>
      <%= link_to "See More", book_posts_path(next_index: @next_index),
          class: "btn see-more", remote: true %>
    <% end %>
    <% if @user == current_user %>
      <%= link_to 'Add Book', new_book_post_path, class: "btn" %>
    <% end %>
  </div>
  <div class="span3">
    <%= render 'user' %>
  </div>
</div>
