<div class="row">
  <div class="span6">
    <h1>Bookshelf</h1>
    <ul class ="thumbnails">
      <% @book_posts.each do |book_post| %>
      <% book = find_book(book_post.book_id) %>
      <li>
        <a href="<%= book_post_path(book_post)%>" class="thumbnail">
          <%= image_tag book.image_url(:thumb).to_s %> 
        </a>
      </li>
      <% end %>
    </ul>
    <br />
    <%= link_to 'Add Book', new_book_post_path, :class => "btn" %>
  </div>
  <div class="span3">
    <%= render 'user' %>
  </div>
</div>
