<div class="row">
  <div class="span8 offset2">
    <h1>Facebook Profile Pictures</h1>
    <h3>Select one that you wish to make your Soobooki profile picture</h3>
    <ul class="thumbnails">
      <% @profile_pictures.each do |picture| %>
        <% @user.remote_image_url = picture[:large] %>
        <li>
          <%= form_for @user do |f| %>
            <%= f.hidden_field :remote_image_url %>
            <input src=<%= picture[:thumbnail] %> class="fb-profile-pic" type="image">
          <% end %>            
        </li>
      <% end %>
    </ul>
  </div>
</div>
