<h1> Email Confirmation Needed !</h1>

</br>

<p>
  You have not confirmed your email. </br>
  If you just signed up, an email with a confirmation link has already been sent.</br>
</p>
<p>
  If you are a previous user that never received a confirmation link, click the button below.<br/></br>
  <%= link_to "Request Email", send_confirmation_path, :class => "btn" %>
</p>
