<td>
  <% if user.first_name? %>
    <% name = user.first_name+" "+user.last_name %>
  <% else %>
    <% name = user.email %>
  <% end %>
  <%= link_to name, bookshelf_path(user) %>
</td>    
<td><%= user.soobooki_id %></td>
<td><%= user.info %></td>
