<div class="row">
  <div class="span7">
    <h1>Search Books</h1>
    <%= form_tag search_books_path(api: "daum"), method: "get", remote: true, class: "form-search" do %>
      <%= text_field_tag "query", nil, class: "input-medium search-query" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>
    <div class="search-results">
    </div>
  </div>
</div>
