<h1>Bookshelf</h1>

<ul class ="thumbnails">
  <% @books.each do |book| %>
  <li>
    <a href="/books/<%= book.id %>" class="thumbnail">
      <%= image_tag book.image_url(:thumb).to_s %> 
    </a>
  </li>
  <% end %>
</ul>

<br />
<%= link_to 'New Book', new_book_path, :class => "btn" %>
