@mixin item-form {
    .date select {
        width: 100px;
    }
    .image_local {
        width: 300px;
        float: left;
    }
    textarea {
        width: 570px;
        height: 400px;
    }
}
@mixin item-post-container {
    padding-bottom: 50px;
    img { 
        display: block; margin-left: auto; margin-right: auto;
        padding: 4px;
        border: 1px solid #DDDDDD; 
        margin-bottom: 20px;
    }
}
@mixin itemshelf-usage-info {
    img {
        margin-bottom: 20px;
        margin-left: 15px;
    }
    h2 {
        border-bottom: 2px solid #DDDDDD;
        padding-bottom: 2px;
        margin-bottom: 10px;
        width: 600px;
    }
    h3 {
        margin-bottom: 10px;
    }
}
@mixin itemshelf {
    min-height: 1px;
    .thumbnail { 
        border-radius: 0px 0px 0px 0px;
        img {
            min-height: 150px;
            max-width: 200px;
        }
        .no-image {
            width: 100px;
            height: 150px;
            text-align: center;
            vertical-align: middle;
            display:table-cell;
            background-color: #DDDDDD;
        }
    }
    h3 {
        border-bottom: 2px solid #DDDDDD;
        padding-bottom: 2px;
        margin-bottom: 10px;
        width: 620px;
    }
}
.book-post-container {
    @include item-post-container;
}
.bookshelf-container {
    margin-bottom: 50px;
}
.usage-info {
    @include itemshelf-usage-info;
}
.bookshelf {
    @include itemshelf;
}
.edit_book_post {
    @include item-form;
}
.new_book_post {
    @include item-form;
}