.login-container {
    margin-top: 50px;
    h2 {
        margin-bottom: 30px;
    }
    .auth-providers {
        .auth-provider {
            float: left;               
            h3{ margin-left: 10px; }
        }
    }
}
