.login-container {
    margin-top: 50px;
    .auth-providers {
        margin-top: 55px;
        .auth-provider {
            float: left;               
            h3{ margin-left: 10px; }
        }
    }
}
